body {
  background-color: #dddddd;
  font-family: Arial,Helvetica,Sans-Serif;
  font-size: 11pt;
  padding: 0px;
  margin: 0px;
}

/* The images below the navigation */
#informationCell {
  width:120px;
  text-align:center;
  font-size:0.7em;
}

#informationCell img {
  margin-bottom:10px;
  text-align:center;
}

img {
  border:none;
}

h1,h2,h3,p,table,ul,ol {margin-left:10px; margin-right:10px;}

h1 { font-size:14pt; margin-bottom:0px; margin-top:10px;}
h2 {
  font-size: 12pt;
  background-color: #C9DBDF;
  border-top: 2px solid #628996;
  border-bottom: 2px solid #628996;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 4px;
}
h2:first-child {
  margin-top: 0px;
}
h3 {
  font-size: 12pt;
}

.menubox {
  background-color:#C9DBDF;
  border: 2px solid #3E6571;
  margin-bottom: 10px;
  font-size: 10pt;
  -moz-border-radius:10px;
}

p.menu {
  font-weight: bold;
  padding: 3px;
  margin: 0px;
  text-align: center;
}

a.menu {
  display: block;
  font-weight: bold;
  padding: 3px;
  text-align: center;
  border-top: 2px solid #3E6571;
}

a.menu:link, a.menu:visited {
  color: #ffffff;
  background-color: #628996;
  text-decoration: none;
}

a.menu:active, a.menu:hover {
  color: #628996;
  background-color: #ffffff;
}

a.rss {
  text-decoration: none;
  margin-left: 470px;
}


#panelCell {
  width: 760px;
  text-align: left;
  padding: 0px;
  margin:0px auto;
  min-height:100%;
  height:100%;
}

#headerCell {
  background-color: #628996;
  height:60px;
  text-align: left;
  border: 2px solid #3E6571;
  border-top: 1px solid #628996;
  margin-left: 10px;
  margin-right: 10px;
}

#navigationCell {
  width:120px;
  float:left;
  margin-left:10px;
  margin-top:10px;
  display:inline;
}

#rightPanelCell {
  background-color:#ffffff;
  border:1px solid #ffffff;
  float:right;
  width:;
  margin-right:10px;
  padding-top:10px;
  padding-bottom:10px;
  display:inline;
  width:604px;
  overflow:visible;
}

#informationCell {
  float:left;
  margin-top:10px;
}
